<section id="aboutContact" class="text-center content-fluid">
<div class="row-fluid col-lg-12 contactHeader">

    

<div class="col-md-4 col-md-offset-1 contactByState">
    <ul class="contactList">
        <li class="listTitle">For Corporate Questions:</li>
        <li><a href="mailto:info@bhangchocolate.com">info@bhangchocolate.com</a></li>
        <li class="listTitle">Michigan Sales / Inquiries:</li>
        <li><a href="mailto:michigan@ghangchocolate.com">michigan@bhangchocolate.com</a></li>
        <li class="listTitle">Colorado Sales / Inquiries:</li>
        <li><a href="mailto:colorado@bhangchocolate.com">colorado@bhangchocolate.com</a></li>
        <li class="listTitle">California Sales / Inquiries:</li>
        <li><a href="mailto:california@bhangchocolate.com">california@bhangchocolate.com</a></li>
        <li class="listTitle">Arizona Sales / Inquiries:</li>
        <li><a href="mailto:arizona@bhangchocolate.com">arizona@bhangchocolate.com</a></li>
        <li class="listTitle">Washington Sales / Inquiries:</li>
        <li><a href="mailto:washington@bhangchocolate.com">washington@bhangchocolate.com</a></li>
        <li class="listTitle">Washington DC Sales / Inquiries:</li>
        <li><a href="mailto:dc@bhangchocolate.com">dc@bhangchocolate.com</a></li>
        <li class="listTitle">Holland Sales / Inquiries:</li>
        <li><a href="mailto:amsterdam@bhangchocolate.com">amsterdam@bhangchocolate.com</a></li>
</div>

   <div class="col-md-6 col-md-offset-1 contactUs">
      <div class="panel panel-default contactTitle">
        <div class="panel-heading clearfix contactTitle">
          <h3 class="panel-title bhangContact">Contact Us</h3>
        </div>
        
        <div class="panel-body">
          <form class="form-horizontal ng-pristine ng-valid" role="form">
            <div class="form-group">
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputName" placeholder="NAME:">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="EMAIL:">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="PHONE:">
              </div>
            <div class="form-group bhangInputMessage">
              <div class="col-sm-10">
                <textarea class="form-control message" id="inputBody" rows="8" placeholder="MESSAGE:"></textarea>
              </div>

            </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-success pull-right">Sign in</button>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</section>




</section>