<section id="aboutConcentrates" class="text-center content-fluid">
<div class="row-fluid col-lg-12 concentratesHeader filterConcentrates">


</div>

    <div class="col-md-10 col-md-offset-1 homeHeadline">
        <div class="col-md-8 col-md-offset-2 homeHeadlineText">
            <h2>Quality</h2>
        </div>

        <div class="col-md-12">    
            <p>Our oil is derived in-house from our very own cannabis grows and fields. Our seasoned cultivators carefully select from only the finest in raw organic botanical materials that are consistently inspected and tested for molds, yeasts, and pesticides.</p>
        </div>

        <div class="col-md-8 col-md-offset-2 homeHeadlineText">
            <h2>Purity</h2>
        </div>

        <div class="col-md-12">    
            <p>We STRICTLY use natural CO2 in our extraction process, no butane, no hexane, or any other toxic solvents, while incorporating proprietary refinement methods involving advanced multi-winterization and filtration techniques that delicately preserve the essential cannabinoids and their synergistic properties.</p>
        </div>

        <div class="col-md-8 col-md-offset-2 homeHeadlineText">
            <h2>Safely</h2>
        </div>

        <div class="col-md-12">    
            <p>We have carefully placed quality controls at every phase of the production process. From cultivation to leaving the warehouse, we inspect and test multiple times, internally and through multiple third-party labs such as The WercShop, PharmLabs, and others to ensure accuracy in potency and full passes in residual and microbial screening. We feel it is our undying responsibility, especially in a new industry pending health and safety regulations</p>
        </div>

        <div class="col-md-12 extract">
            <a href="{{ base.url }}/products-vapes"><img src="{{ base.url }}/img/view-extract-products.jpg" class="img-responsive"></a>
        </div>

    </div>




</div>




</section>
