    <!-- Footer -->
    <footer>
        <div class="container-fluid text-center footsie">
            <div class="col-sm-4  col-sm-offset-8 footerEnc">
        	<div class="col-sm-6  footsieSocial">
        		<a href="https://www.facebook.com/bhangchocolate"><img src="{{ base.url }}/assets/images/si_face.png" style="width:45px; height:45px"></a>
        		<a href="https://instagram.com/bhangchocolate/"><img src="{{ base.url }}/assets/images/si_insta.png" style="width:45px; height:45px"></a>
        		<a href="https://twitter.com/bhangchocolate"><img src="{{ base.url }}/assets/images/si_twit.png" style="width:45px; height:45px">
        	</div>	
            <div class="col-sm-6 footsieNewsletter">
                </a>
                <a href="#" class="newsletter">JOIN OUR NEWSLETTER</a>
            </div>
            <div class="col-sm-12 footsieDate">
            <p>&copy; 20{{ site.time | date: '%y' }} Bhang Corporation - All Rights Reserved</p>
        </div>
    </div>
    </footer>




