    <!-- Intro Header -->
<header class="intro">
        <div class="intro-body">
            <div class="">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 entrance">
                        <!-- <h1 class="brand-heading">Grayscale</h1>
                        <p class="intro-text">A free, responsive, one page Bootstrap theme.<br>Created originally by Start Bootstrap.</p> -->
                        <a href="{{ base.url }}/about-front" class="btn page-scroll pulse" style="margin-top: 850px;">
                           BY ENTERING THIS SITE YOU ARE STATING THAT YOU ARE AT LEAST 18 YEARS OF AGE
                           <div class="enterBtn"><p>Enter</p></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</header>