 <!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
                </a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown">
                        <a href="{{ base.url }}/about-front/" class="dropdown-toggle page-scroll">About</a>
                        <ul class="dropdown-menu about" role="menu" style="display:none">
                            <li><a href="{{ base.url }}/about-co2-products">C02 Extraction</a></li>
                            <li><a href="{{ base.url }}/about-chocolate">Bhang Chocolate</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle centernav">Products</a>
                        <ul class="dropdown-menu products" role="menu" style="display:none">
                            <li><a href="{{ base.url }}/products-vapes">Vape Products</a></li>
                            <li><a href="{{ base.url }}/products-edibles">Edibles</a></li>
                        </ul>
                    </li>
                    <li class="navLogo">
                        <a class="navLogo" href="{{ base.url }}/about-front/"><img src="{{ base.url }}/img/bhang-nav-bar.png" width="75%"></a>
                    </li>
                        <li>
                            <a class="page-scroll" href="{{ base.url }}/news">News</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle centernav">Locate</a>
                        <ul class="dropdown-menu locate" role="menu" style="display:none">
                            <li><a href="{{ base.url }}/find-bhang">Find Bhang</a></li>
                            <li><a href="{{ base.rul }}/contact_bhang">Contact Bhang</a></li>
                        </ul>                            
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>