
<nav class="navbar navbar-inverse navbar-static-top marginBottom-0" role="navigation">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a class="navbar-brand" href="{{ base.url }}/"><img src="{{ base.url }}/assets/images/bhang-nav-bar.png" class="img-responsive logo"></a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    
                    <li class="dropdown navAbout">
                        <a href="#" class="dropdown-toggle pagescroll" data-toggle="dropdown">About <b class="caret"></b></a>
                        <ul class="dropdown-menu aboutSubmenu">
                            <li class="navConcentrates"><a href="{{ base.url }}/bhang-concentrates">Bhang Concentrates</a></li>
                            <li class="navChocolate"><a href="{{ base.url }}/about-chocolate">Bhang Chocolate</a></li>
                           
                    
                        </ul>
                    </li>
                    <li class="dropdown navProducts"><a href="#" class="dropdown-toggle pagescroll" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu productSubmenu">
                             <li class="navVapes"><a href="{{ base.url }}/products-vapes">Vape Products</a></li>
                             <li class="navEdibles"><a href="{{ base.url }}/products-edibles">Edibles</a></li>
                           
                    
                        </ul>
                    </li>
                    <li class="navNews"><a class="page-scroll" href="{{ base.url }}/news">News</a></li>

                    <li class="dropdown navLocate"><a href="#" class="dropdown-toggle pagescroll" data-toggle="dropdown">Locate <b class="caret"></b></a>
                        <ul class="dropdown-menu locatSubmenu pagescroll">
                             <li class="navFind"><a href="{{ base.url }}/find-bhang">Find Bhang</a></li>
                            <li class="navContact"><a href="{{ base.rul }}/contact_bhang">Contact Bhang</a></li>
                           
                    
                        </ul>
                    </li>

                    
                </ul>
            </div></div><!-- /.navbar-collapse -->
        </nav>
        