<section id="aboutEdibles" class=" text-center content-fluid">
    <div class="row-fluid col-lg-12 productsHeader">
        <div class="col-lg-8 col-lg-offset-2 productsHead">
            <p>“Our cannabis oils and concentrates are specially crafted with three things in mind – quality, purity, and consistency. Derived in-house from our very own cultivation, our team of specialists carefully select only the finest in raw organic botanical ingredients while utilizing state of the art extraction and refinement techniques to produce the highest quality in cannabis concentrates.”</p>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2 productsHeadlineText" id="bhangStick">
        <h2>The Bhang Stick</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 productsHeadline">
        <div class="col-lg-12">
            <img src="{{ base.url }}/img/bhang-stick.jpg" class="img-responsive productsHeadline">
        </div>
        
            <h6 class="productsTagline">The upper echelon of premium, portable, medical cannabis vaporizers</h6>
            <ul class="productsHeadlineList">
<li>·&nbsp;&nbsp;&nbsp; We offer the highest in variety with over 60 revolving strains</li>
<li>·&nbsp;&nbsp;&nbsp; Labeled potency results list the exact levels of THC, CBD, and CBG (%/mg)</li>
<li>·&nbsp;&nbsp;&nbsp; High grade components include 280mah battery & atomizer with an upgraded Nichrome coil</li>
            </ul>
        
    </div>

     <div class="col-lg-8 col-lg-offset-2 productsHeadlineText" id="bhangStickNatCarts">
        <h2>“ALL NATURAL” BHANG STICK CARTRIDGES</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 productsHeadline">
        <div class="col-lg-12">
            <img src="{{ base.url }}/img/all-natural-bhang-sticks.jpg" class="img-responsive productsHeadline">
        </div>
        
            <h6 class="productsTagline">A smooth and natural cannabis oil blend infused with coconut oil</h6>
            <ul class="productsHeadlineList">
<li>·&nbsp;&nbsp;&nbsp; Available Sizes: 550mg (300mg Pure Cannabis Oil) & 1100mg (600mg Pure Cannabis Oil)</li>
<li>·&nbsp;&nbsp;&nbsp; Potency Range: 25-35%</li>
<li>·&nbsp;&nbsp;&nbsp; Great for first-time users and those with lower tolerances</li>
<li>·&nbsp;&nbsp;&nbsp; Clean tasting (no glycols or glycerin)</li>
            </ul>
        
    </div>
    
    <div class="col-lg-8 col-lg-offset-2 productsHeadlineText" id="bhangStickOilCarts">
        <h2>“PURE OIL” BHANG STICK CARTRIDGES</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 homeHeadline">
        <div class="col-lg-12">
            <img src="{{ base.url }}/img/pure-oil-bhang-sticks.jpg" class="img-responsive productsHeadline">
        </div>
        
            <h6 class="productsTagline">Our premium CO2 extracted cannabis oil in its purest form</h6>
            <ul class="productsHeadlineList">
<li>·&nbsp;&nbsp;&nbsp; Available Sizes: 275mg & 550mg</li>
<li>·&nbsp;&nbsp;&nbsp; Potency Range: 50-65%</li>
<li>·&nbsp;&nbsp;&nbsp; Great for connoisseurs and experienced users</li>
<li>·&nbsp;&nbsp;&nbsp; Clean tasting (no glycols or glycerin)</li>
            </ul>
        
    </div>

    <div class="col-lg-10 col-lg-offset-1 productsHeadlineText" id="oilCarts">
        <h2>AWARD WINNING, highly potent, “Ultra Refined” cannabis oil </h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 homeHeadline">
        <div class="col-lg-12">
            <img src="{{ base.url }}/img/bhang-black-private-cartridges.jpg" class="img-responsive productsHeadline">
        </div>
        
            <h6 class="productsTagline">AWARD WINNING, highly potent, “Ultra Refined” cannabis oil </h6>
            <ul class="productsHeadlineList">
<li>·&nbsp;&nbsp;&nbsp; Available Sizes: 275mg </li>
<li>·&nbsp;&nbsp;&nbsp; Potency Range: >70% THC</li>
<li>·&nbsp;&nbsp;&nbsp; Great for those who enjoy maximum potency and flavor</li>
<li>·&nbsp;&nbsp;&nbsp; 3rd place winner (concentrates category) at the 2015 Patient’s Choice Medical Cannabis Cup, SF </li>
<li>*&nbsp;&nbsp;&nbsp; Not currently available in Colorado & Washington. Only available in California *</li>
            </ul>
        
    </div>

<div class="col-lg-8 col-lg-offset-2 productsHeadlineText" id="bhangPerfecto">
        <h2>BHANG PERFECTO</h2>
    </div>
    <div class="col-lg-10 col-lg-offset-1 productsHeadline">
        <div class="col-lg-12">
            <img src="{{ base.url }}/img/bhang-perfecto.jpg" class="img-responsive productsHeadline">
        </div>
        
            <h6 class="productsTagline">Taking portability and convenience to the next level – a fully disposable 
e-cigarette pre-filled with our pure cannabis oil infused with coconut oil </h6>
            <ul class="productsHeadlineList">
<li>·&nbsp;&nbsp;&nbsp; Available Sizes: 550mg (300mg Pure Cannabis Oil)</li>
<li>·&nbsp;&nbsp;&nbsp; Potency Range: 25-35%</li>
<li>·&nbsp;&nbsp;&nbsp; Very discreet – looks just like an e-cigarette</li>
<li>·&nbsp;&nbsp;&nbsp; Clean tasting (no glycols or glycerin)</li>
            </ul>
        
    </div>
</section>